body {
    background-color: #333; color: #bbb; line-height: normal;
    font-family: Lucida Grande, Lucida Sans, Arial, Helvetica Neue, Verdana, Geneva, sans-serif;
    font-size: 11px; font-weight: normal; text-decoration: none;
    line-height: 1.5em;
}

a img {
    border: 0px solid transparent;
}

a, a:link, a:visited, a:active, a:hover {
    color: #cdcdcd; text-decoration: underline;
}

h1 {
    font-family: Arial, Helvetica Neue, Verdana, Geneva, sans-serif;
    width: 100%; letter-spacing: 0.1em;
    margin-bottom: 1em; font-size: 1.65em;
}

canvas {
    display: block;
    outline: 0px;
    margin-bottom: 1.5em;
    border: 1px dashed #CCC;
}

#uploadform {
    margin-bottom: 20px;
}


#content {
    /* position: absolute; */
    display: block;
    /* margin: 50px auto 0px auto;  */
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 25px 15px 25px;
    /* width: 600px; min-width: 300px; overflow: auto; */
    width: 600px;
    background-color: #3d3d3d;
}

.is_hover {
    border: 1px dashed #CCC;
}

#notes {
    width: 200px;
    float: left;
    background-color: #3d3d3d;
    margin: 0px auto 0px 20px;
    padding: 25px 25px 15px 25px;
    border: 2px dashed #CCC;
}

#outputgif {
    margin: auto;
    margin-top: 40px;
}

#progress_bar {
    margin: 10px 0;
    padding: 3px;
    border: 1px solid #000;
    font-size: 14px;
    clear: both;
    opacity: 0;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
}
#progress_bar.loading {
    opacity: 1.0;
}
#progress_bar .percent {
    background-color: #99ccff;
    color: #000;
    height: auto;
    width: 0;
}
