#original {
    display: none;
}

#targets {
    height: 100%;
    float: left;
    margin-top: 20px;
}

#thumbs {
    margin-top: 10px;
}

.thumb {
    width: 100px;
    margin: 10px;
}

.is_hover {
    border: 1px dashed #CCC;
}